:root {
    --main-color: #0A36FB;
    --second-color: #F1A003;
    --third-color: #F1D302;

    --neutral-100: #33303E;
    --neutral-200: #4E4B59;
    --neutral-300: #5F5C6B;
    --neutral-400: #7A7786;
    --neutral-500: #C6C5CE;
    --neutral-600: #F1F0F5;

    --white-color: #FFFFFF;
}